<%=form_tag "/students/#{@id}", method: :patch do %>

<div> 
 <label for="first_name"> First Name: </label> <input type="text" name="first_name" value="<%= @student["first_name"] %>">
 </div>
 <div> 
 <label for="last_name"> Last Name: </label> <input type="text" name="last_name" value="<%= @student["last_name"] %>">
 </div>
 <div> 
 <label for="email"> Email: </label> <input type="text" name="email" value="<%= @student["email"] %>">
 </div>
 <div> 
 <label for="phone_number"> Phone Number: </label> <input type="text" name="phone_number" value="<%= @student["phone_number"] %>">
 </div>
  <div> 
 <label for="short_bio"> Short Bio: </label> <input type="text" name="short_bio" value="<%= @student["short_bio"] %>">
 </div>
 <div> 
 <label for="linkedin_url"> Linkedin: </label> <input type="text" name="first_name" value="<%= @student["first_name"] %>">
 </div>
 <div> 
 <label for="website_url"> Website URL: </label> <input type="text" name="website_url" value="<%= @student["website_url"] %>">
 </div>
 <div> 
 <label for="resume_url"> Resume: </label> <input type="text" name="resume_url" value="<%= @student["resume_url"] %>">
 </div>
 <div> 
 <label for="git_url"> Git URL: </label> <input type="text" name="git_url" value="<%= @student["git_url"] %>">
 </div>
  <div> 
 <label for="photo_url"> Photo: </label> <input type="text" name="photo_url" value="<%= @student["photo_url"] %>">
 </div>


<input type="submit" value="Update"> 
<% end %>

